[project]
authors = ["Paul Wighton <pwighton@mgh.harvard.edu>"]
channels = ["conda-forge"]
description = "Re-write of initial FreeBrowse implementation, based off of github.com/niivue/fullstack-niivue-demo/"
name = "FreeBrowse backend"
platforms = ["linux-64", "osx-arm64"]
version = "2.0.0"

[tasks.dev]
cmd = """
  cd ../frontend && \
  npm run build && \
  cd ../backend && \
  fastapi dev src/server.py
"""

[tasks.dev.env]
NIIVUE_BUILD_DIR = "../frontend/dist"
DATA_DIR = "../data"
MODELS_DIR = "../models"
SCENE_SCHEMA_ID = "freebrowse"
IMAGING_EXTENSIONS = '["*.nii", "*.nii.gz"]'
SERVERLESS_MODE = "false"
MASTER_JSON = "../data/master_rating_json_elucid.txt"

[tasks.dev-serverless]
cmd = """
  cd ../frontend && \
  npm run build && \
  cd ../backend && \
  fastapi dev src/server.py
"""

[tasks.dev-serverless.env]
NIIVUE_BUILD_DIR = "../frontend/dist"
DATA_DIR = "../data"
SCENE_SCHEMA_ID = "freebrowse"
IMAGING_EXTENSIONS = '["*.nii", "*.nii.gz"]'
SERVERLESS_MODE = "true"

[dependencies]
fastapi = ">=0.115.5,<0.116"
pytorch = ">=2.0"
nibabel = ">=5.0"
numpy = ">=1.24"
monai = ">=1.3"
pyyaml = ">=6.0"

[pypi-dependencies]
neurite = { git = "https://github.com/adalca/neurite.git" }
