@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	height: 100%;
}

*:focus {
	outline: none;
}

/* hide step arrows from input */
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* hide step arrows from input */
/* Works for Firefox */
input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield;
}
